<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SmashUpDraft</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/jquery-confirm.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap4-toggle.min.css" />
</head>
<body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">SmashUpDraft</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Index">Randomizer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Draft">Snake Draft</a>
                    </li>
                </ul>
            </div>
            <div class="btn-group float-right">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Quick-select Expansions
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <button class="dropdown-item mr-5" type="button" rel="qs-item" data-exp="all">Toggle All <div class="float-right"><input type="checkbox" data-toggle="toggle" data-size="mini" /></div></button>
                    <button class="dropdown-item" type="button" data-exp="cs" rel="qs-item">Core Set <div class="float-right"><input type="checkbox" data-toggle="toggle" data-size="mini" /></div></button>
                    <button class="dropdown-item" type="button" data-exp="al" rel="qs-item">Awesome Level 9000 <div class="float-right"><input type="checkbox" data-toggle="toggle" data-size="mini" /></div></button>
                    <button class="dropdown-item" type="button" data-exp="oc" rel="qs-item">The Obligatory Cthulhu Set <div class="float-right"><input type="checkbox" data-toggle="toggle" data-size="mini" /></div></button>
                    <button class="dropdown-item" type="button" data-exp="sf" rel="qs-item">Science Fiction Double Feature <div class="float-right"><input type="checkbox" data-toggle="toggle" data-size="mini" /></div></button>
                    <button class="dropdown-item" type="button" data-exp="ms" rel="qs-item">Monster Smash <div class="float-right"><input type="checkbox" data-toggle="toggle" data-size="mini" /></div></button>
                    <button class="dropdown-item" type="button" data-exp="pp" rel="qs-item">Pretty Pretty <div class="float-right"><input type="checkbox" data-toggle="toggle" data-size="mini" /></div></button>
                    <button class="dropdown-item" type="button" data-exp="mk" rel="qs-item">Munchkin <div class="float-right"><input type="checkbox" data-toggle="toggle" data-size="mini" /></div></button>
                    <button class="dropdown-item" type="button" data-exp="yf" rel="qs-item">It's Your Fault <div class="float-right"><input type="checkbox" data-toggle="toggle" data-size="mini" /></div></button>
                    <button class="dropdown-item" type="button" data-exp="cd" rel="qs-item">Cease and Desist <div class="float-right"><input type="checkbox" data-toggle="toggle" data-size="mini" /></div></button>
                    <button class="dropdown-item" type="button" data-exp="ww" rel="qs-item">What Were We Thinking <div class="float-right"><input type="checkbox" data-toggle="toggle" data-size="mini" /></div></button>
                    <button class="dropdown-item" type="button" data-exp="bj" rel="qs-item">Big In Japan <div class="float-right"><input type="checkbox" data-toggle="toggle" data-size="mini" /></div></button>
                    <button class="dropdown-item" type="button" data-exp="se" rel="qs-item">That '70s Expansion <div class="float-right"><input type="checkbox" data-toggle="toggle" data-size="mini" /></div></button>
                    <button class="dropdown-item" type="button" data-exp="op" rel="qs-item">Opps, You Did It Again <div class="float-right"><input type="checkbox" data-toggle="toggle" data-size="mini" /></div></button>
                    <button class="dropdown-item mr-5" type="button" data-exp="wt1" rel="qs-item">World Tour: International Incident <div class="float-right"><input type="checkbox" data-toggle="toggle" data-size="mini" /></div></button>
                    <button class="dropdown-item" type="button" data-exp="wt2" rel="qs-item">World Tour: Culture Shock <div class="float-right"><input type="checkbox" data-toggle="toggle" data-size="mini" /></div></button>
                    <button class="dropdown-item" type="button" data-exp="sp" rel="qs-item">Sheep and Penguins <div class="float-right"><input type="checkbox" data-toggle="toggle" data-size="mini" /></div></button>
                    <button class="dropdown-item" type="button" data-exp="bg" rel="qs-item">The Bigger Geekier Box <div class="float-right"><input type="checkbox" data-toggle="toggle" data-size="mini" /></div></button>
                </div>
            </div>
        </div>
    </nav>

    <main role="main" class="flex-shrink-0 mb-3 container">
        @RenderBody()
    </main>

    <footer class="footer py-3 fixed-bottom bg-light border-top">
        <div class="container">
            &copy; 2019 - SmashUpDraft - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery-confirm.min.js"></script>
    <script src="~/js/bootstrap4-toggle.min.js"></script>
    <script src="~/js/global.js"></script>
    <script src="~/js/js.cookie.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
